<%= render "shared/header" %>

<div class="contents row">
  <div class="container">
    <h2 class="title">新規登録</h2>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>

      <div class="field">
        <%= f.label :name, "ニックネーム" %>
        <%= f.email_field :name, class:"field-detail", maxlength: "10" %>
      </div>

      <div class="field">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, class:"field-detail" %>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード (6文字以上)"%>
        <%= f.password_field :password,class:"field-detail", autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "パスワード確認用"%>
        <%= f.password_field :password_confirmation,class:"field-detail", autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class:"sign-up-btn"%>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>