<div class='footer'>
  <div class='footer-contents'>
    <div class='randomtrip-details'>
      <h2 class='footer-content-head'>ABOUT</h2>
      <ul>
        <li><%= link_to 'アプリ概要', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='randomtrip-details'>
      <h2 class='footer-content-head'>SERVICES</h2>
      <ul>
        <% unless user_signed_in? %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "footer-link" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "footer-link" %></li>
        <% end %>
        <li><%= link_to '旅行先診断', new_destination_path, class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <div class='randomtrip-logo'>
    <div class='randomtrip-logo-icon'>
      <%= link_to image_tag("randomtrip_black.png", width:"80", height:"80", class:"logo-black"), "#" %>
    </div>
    <div class='randomtrip-footer-title'>
    <%= link_to "RANDOM TRIP", new_destination_path, class:"randomtrip-letter" %>
    </div>
  </div>
  <div class='copy-right'>
    <p>© RANDOM TRIP</p>
  </div>
</div>