<div class='footer'>
  <div class='footer-contents'>
    <div class='randomtrip-details'>
      <h2 class='footer-content-head'>Random Tripについて</h2>
      <ul>
        <li><%= link_to 'アプリ概要', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='randomtrip-details'>
      <h2 class='footer-content-head'>Random Tripを利用する</h2>
      <ul>
        <li><%= link_to '旅行先を決める', "#", class: "footer-link" %></li>
        <li><%= link_to 'マイページ', "#", class: "footer-link" %></li>
        <li><%= link_to '観光情報を見る', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <div class='randomtrip-logo'>
    <div class='randomtrip-logo-icon'>
      <%= link_to image_tag("randomtrip_icon2.png", width:"64", height:"64", class:"logo-black"), "#" %>
    </div>
    <div class='randomtrip-footer-title'>Random Trip</div>
  </div>
  <div class='copy-right'>
    <p>© Random Trip</p>
  </div>
</div>