<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='header-contents'>
    <div class='header-left'>
      <div class='lists-left'>
      <%= link_to image_tag("randomtrip_blue.png", width:"80", height:"80",class:"randomtrip-icon"), "/" %>
      </div>
      <div class='header-title'>
        <%= link_to "RANDOM TRIP", "/", class:"randomtrip-letter" %>
      </div>
    </div>
    <div class='header-right'>
      <ul class='lists-right'>
        <% if user_signed_in? %>
          <li><%= link_to "マイページ",  edit_user_path(current_user.id), class: "mypage" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
          <li><%= link_to '旅行先診断', new_destination_path, class: "where-to-go" %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
          <li><%= link_to '旅行先診断', new_destination_path, class: "where-to-go" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>