<%= render "shared/header" %>

<div class="recommendation-main">
  <div class="recommendation">
    <% if @theme.id == 1 %>
    <% @prefecture_hotspring.each_with_index do |prefecture, i| %>  
    <ul class="recommendation-lists">
      <li class="image">
        <%= image_tag prefecture.image, class:"prefecture-image" %>
      </li>
      <li class="recommendation-details">
        <h2 class="prefecture-name">
        <%= i + 1 %>．<%= prefecture.name %>
        </h2>
        <p class="prefecture-info">
        <%= prefecture.info %>
        </p>
      </li>
    </ul>
    <% end %>

    <% elsif @theme.id == 2 %>
    <% @prefecture_resort.each do |prefecture| %>
    <ul class="recommendation-lists">
      <li class="image">
        <%= image_tag prefecture.image, class:"prefecture-image" %>
      </li>
      <li class="recommendation-details">
        <h2 class="prefecture-name">
        <%= prefecture.name %>
        </h2>
        <p class="prefecture-info">
        <%= prefecture.info %>
        </p>
      </li>
    </ul>
    <% end %>

    <% elsif @theme.id == 3 %>
    <% @prefecture_hotspring.each_with_index do |prefecture, i| %>
    <ul class="recommendation-lists">
      <li class="image">
        <%= image_tag prefecture.image, class:"prefecture-image" %>
      </li>
      <li class="recommendation-details">
        <h2 class="prefecture-name">
        <%= prefecture.name %>
        </h2>
        <p class="prefecture-info">
        候補{i}：<%= prefecture.info %>
        </p>
      </li>
    </ul>
    <% end %>

    <% elsif @theme.id == 4 %>
    <% @prefecture_amusementpark.each do |prefecture| %>
    <ul class="recommendation-lists">
      <li class="image">
        <%= image_tag prefecture.image, class:"prefecture-image" %>
      </li>
      <li class="recommendation-details">
        <h2 class="prefecture-name">
        <%= prefecture.name %>
        </h2>
        <p class="prefecture-info">
        <%= prefecture.info %>
        </p>
      </li>
    </ul>
    <% end %>

    <% else %>
    <% @prefecture_others.each do |prefecture| %>
    <ul class="recommendation-lists">
      <li class="image">
        <%= image_tag prefecture.image, class:"prefecture-image" %>
      </li>
      <li class="recommendation-details">
        <h2 class="prefecture-name">
        <%= prefecture.name %>
        </h2>
        <p class="prefecture-info">
        <%= prefecture.info %>
        </p>
      </li>
    </ul>
    <% end %>

    <% end %>
  </div>
  <div class="back-btn-contents">
    <%= link_to "BACK", new_destination_path, class:"back-btn"%>
  </div>
</div>

<%= render "shared/footer" %>